// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
$colors: (
  primary:  #CAB4D6,    // lila
  secondary: #FFB6C1,   // rosa pálido
);

:root {
  --ion-font-family: San Francisco, sans-serif;
}
